In [9]:
import numpy as np
import pandas as pd

In [10]:
tables = pd.read_html("C:/Users/safye/Downloads/pydata-book-3rd-edition/pydata-book-3rd-edition/examples/fdic_failed_bank_list.html")
type(tables)

list

In [11]:
len(tables)

1

In [12]:
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [13]:
close_timestamps = pd.to_datetime(failures["Closing Date"])

In [14]:
close_timestamps.dt.year.value_counts()

Closing Date
2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: count, dtype: int64

In [15]:
from lxml import objectify
path = "C:/Users/safye/Downloads/pydata-book-3rd-edition/pydata-book-3rd-edition/datasets/mta_perf/Performance_MNR.xml"

In [16]:
perf2 = pd.read_xml(path)

In [17]:
perf2.head()

,INDICATOR_SEQ,PARENT_SEQ,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,DESIRED_CHANGE,INDICATOR_UNIT,DECIMAL_PLACES,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,U,%,1,95.00,96.90,95.00,96.90
1,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,U,%,1,95.00,96.00,95.00,95.00
2,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,U,%,1,95.00,96.30,95.00,96.90
3,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,U,%,1,95.00,96.80,95.00,98.30
4,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,U,%,1,95.00,96.60,95.00,95.80

In [18]:
frame = pd.read_csv("C:/Users/safye/Downloads/pydata-book-3rd-edition/pydata-book-3rd-edition/examples/ex1.csv")
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [19]:
frame.to_pickle("C:/Users/safye/Downloads/pydata-book-3rd-edition/pydata-book-3rd-edition/examples/frame_pickle")

In [20]:
pd.read_pickle("C:/Users/safye/Downloads/pydata-book-3rd-edition/pydata-book-3rd-edition/examples/frame_pickle")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [21]:
fec = pd.read_parquet("C:/Users/safye/Downloads/pydata-book-3rd-edition/pydata-book-3rd-edition/datasets/fec/fec.parquet")

In [22]:
fec.head()

,cmte_id,cand_id,cand_nm,contbr_nm,contbr_city,contbr_st,contbr_zip,contbr_employer,contbr_occupation,contb_receipt_amt,contb_receipt_dt,receipt_desc,memo_cd,memo_text,form_tp,file_num
0,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,250.0,20-JUN-11,None,None,None,SA17A,736166
1,C00410118,P20002978,"Bachmann, Michelle","HARVEY, WILLIAM",MOBILE,AL,366010290,RETIRED,RETIRED,50.0,23-JUN-11,None,None,None,SA17A,736166
2,C00410118,P20002978,"Bachmann, Michelle","SMITH, LANIER",LANETT,AL,368633403,INFORMATION REQUESTED,INFORMATION REQUESTED,250.0,05-JUL-11,None,None,None,SA17A,749073
3,C00410118,P20002978,"Bachmann, Michelle","BLEVINS, DARONDA",PIGGOTT,AR,724548253,NONE,RETIRED,250.0,01-AUG-11,None,None,None,SA17A,749073
4,C00410118,P20002978,"Bachmann, Michelle","WARDENBURG, HAROLD",HOT SPRINGS NATION,AR,719016467,NONE,RETIRED,300.0,20-JUN-11,None,None,None,SA17A,736166

In [23]:
xlsx = pd.ExcelFile("C:/Users/safye/Downloads/pydata-book-3rd-edition/pydata-book-3rd-edition/examples/ex1.xlsx")

In [24]:
xlsx.sheet_names

['Sheet1']

In [25]:
xlsx.parse(sheet_name="Sheet1")

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [26]:
xlsx.parse(sheet_name="Sheet1", index_col=0)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [27]:
frame = pd.read_excel("C:/Users/safye/Downloads/pydata-book-3rd-edition/pydata-book-3rd-edition/examples/ex1.xlsx", sheet_name="Sheet1")
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [28]:
writer = pd.ExcelWriter("C:/Users/safye/Downloads/pydata-book-3rd-edition/pydata-book-3rd-edition/examples/ex2.xlsx")

In [29]:
frame.to_excel(writer, "Sheet1")

C:\Users\safye\AppData\Local\Temp\ipykernel_5560\2112036528.py:1: FutureWarning: Starting with pandas version 3.0 all arguments of to_excel except for the argument 'excel_writer' will be keyword-only.
  frame.to_excel(writer, "Sheet1")

In [30]:
writer.close()

#### Using HDF5 Format

In [31]:
frame = pd.DataFrame({"a": np.random.standard_normal(100)})
store = pd.HDFStore("C:/Users/safye/Downloads/pydata-book-3rd-edition/pydata-book-3rd-edition/examples/mydata.h5")

HDF5ExtError: HDF5 error back trace

  File "D:\bld\hdf5_1733002084650\work\src\H5F.c", line 836, in H5Fopen
    unable to synchronously open file
  File "D:\bld\hdf5_1733002084650\work\src\H5F.c", line 796, in H5F__open_api_common
    unable to open file
  File "D:\bld\hdf5_1733002084650\work\src\H5VLcallback.c", line 3863, in H5VL_file_open
    open failed
  File "D:\bld\hdf5_1733002084650\work\src\H5VLcallback.c", line 3675, in H5VL__file_open
    open failed
  File "D:\bld\hdf5_1733002084650\work\src\H5VLnative_file.c", line 128, in H5VL__native_file_open
    unable to open file
  File "D:\bld\hdf5_1733002084650\work\src\H5Fint.c", line 1960, in H5F_open
    unable to lock the file
  File "D:\bld\hdf5_1733002084650\work\src\H5FD.c", line 2411, in H5FD_lock
    driver lock request failed
  File "D:\bld\hdf5_1733002084650\work\src\H5FDsec2.c", line 941, in H5FD__sec2_lock
    unable to lock file, errno = 0, error message = 'No error', Win32 GetLastError() = 33

End of HDF5 error back trace

Unable to open/create file 'C:/Users/safye/Downloads/pydata-book-3rd-edition/pydata-book-3rd-edition/examples/mydata.h5'

In [ ]:
store["obj1"] = frame

In [ ]:
store["obj1_col"] = frame["a"]

In [ ]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: C:/Users/safye/Downloads/pydata-book-3rd-edition/pydata-book-3rd-edition/examples/mydata.h5

In [ ]:
type(store)

pandas.io.pytables.HDFStore

In [ ]:
store["obj1"]

           a
0  -1.534470
1  -0.233233
2  -0.806306
3  -0.560077
4  -1.157679
..       ...
95 -1.439036
96 -1.046483
97  0.865910
98  0.375495
99  1.901033

[100 rows x 1 columns]

In [ ]:
store["obj1_col"]

0    -1.534470
1    -0.233233
2    -0.806306
3    -0.560077
4    -1.157679
        ...
95   -1.439036
96   -1.046483
97    0.865910
98    0.375495
99    1.901033
Name: a, Length: 100, dtype: float64

In [ ]:
store.put("obj2", frame, format="table")

In [ ]:
store.select("obj2", where=["index >= 10 and index <=15"])

           a
10 -0.833199
11 -0.123526
12 -0.042585
13 -0.884480
14 -0.333632
15  1.125209

### Web API'ları ile Etkileşim

In [ ]:
import requests

In [ ]:
url = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [ ]:
resp = requests.get(url)

In [ ]:
resp.raise_for_status()

In [ ]:
resp

In [ ]:
data = resp.json()

In [ ]:
data[0]["title"]

'TST: Add regression test for DatetimeIndex.equals coercion (GH#13286)'

In [32]:
issues = pd.DataFrame(data, columns=["number", "title", "labels", "state"])

In [34]:
issues.head()

,number,title,labels,state
0,64269,TST: Add regression test for DatetimeIndex.equ...,[],open
1,64268,DOC: Fix ES01 for pandas.DataFrame,[],open
2,64267,BUG: Error message when using pd.col() and pow...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
3,64266,ENH: Methods to potentially change for future....,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
4,64265,ENH: Add support for universal-pathlib via pat...,[],open

### 6.4 Veritabanları ile Etkileşim

In [35]:
import sqlite3

In [40]:
query = """CREATE TABLE test(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);"""

In [41]:
can = sqlite3.connect("mydata.sqlite")

In [42]:
can.execute(query)

In [43]:
type(can)

sqlite3.Connection

In [44]:
data = [("Atlanta", "Georgia", 1.25, 6),("Tallahassee", "Florida", 2.6, 3),
        ("Sacramento", "California", 1.7, 5)]

In [45]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [46]:
can.executemany(stmt, data)

In [48]:
can.commit()

In [50]:
cursor = can.execute("SELECT * FROM test")

In [51]:
rows = cursor.fetchall()

In [52]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [53]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [54]:
import sqlalchemy as sqla
db = sqla.create_engine("sqlite:///mydata.sqlite")

In [55]:
pd.read_sql("SELECT * FROM test", db)

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5